[db]
default = hsqldb+jaydebeapi://SA:@localhost:9001/test2
hsqldb = hsqldb+jaydebeapi://SA:@localhost:9001/test2
hsqldb0 = hsqldb+jaydebeapi://SA:@localhost:9001/test2?isolation_level=READ+COMMITTED
hsqldb1 = hsqldb+jaydebeapi://SA:@localhost:9001/db1
hsqldb2 = hsqldb+jaydebeapi://SA:@localhost:9001/db2

# To run pytest against a specific database use the --db switch,
#	e.g. pytest --db hsqldb test/test_suite.py
# 
# A default set of db tags are defined in SQLAlchemy's setup.cfg file.
# You can overwrite these or define your own by adding them to the
# [db] section of this file.
